# Golang
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
/go.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Project specific
*.log
.env
.env.development
.env.production

# Node modules
node_modules/

# Golang 编译产物
gomyredis

